@model VacationManager.Web.Models.ProjectViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Description)
        </dd>
    </dl>
</div>
<div>

    <div>
        <h4>Teams</h4>
        <hr />
        <dl class="row">
            @foreach (var item in Model.ProjectTeams)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(idem => item.Team.TeamName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(idem => item.Team.TeamName)
                </dd>
            }
        </dl>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Project.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
